/*---- Generelle indstillinger ------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

img {
    width: 100%;
}


section {
    width: 100%;
    margin: 0 auto;
}

sectionwrapper {
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
    text-emphasis: Bold;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

/*---- Generelle indstillinger  SLUT ------ */
/***--------------Menu-----------***/

#logo {
    background-image: url(billeder/logo.svg);
    height: 7vw;
    width: 14vw;
    background-size: cover;
    position: absolute;
    top: -0.5vw;
    left: 0vw;
}

header {
    width: 100vw;
    background-color: rgba(86, 61, 49, 0.65);
    position: fixed;
    overflow: hidden;

}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}


header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


header a {
    padding: 0.5rem;
    display: flex;
    color: white;
}


header nav a:visited {
    color: #ffffff;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    color: white;
    margin: 0.5rem;
}

/********menu slut *******/

/********splash *******/

#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/splash_bbl.png);
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

#logo_splash {
    background-image: url(billeder/logo.svg);
    height: 30vw;
    width: 60vw;
    background-size: cover;
    position: absolute;
    top: 20vw;
    left: 20vw;
}

#splash_produkter {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/splash_produkter.jpg);
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}


/********splash slut *******/

/********velkommen *******/

#velkommen .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#velkommen .farve {
    background-color: #8b6b52;
    /*    padding: 1rem;*/
}

#velkommen .col {
    flex-grow: 1;
    flex-basis: 400px;
}

/********velkommen slut *******/

/********* om *********/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#om .col_img {
    flex-grow: 1;
    flex-basis: 300px;
}

#om .col_txt {
    flex-grow: 2;
    flex-basis: 300px;
    padding-left: 6rem;
    padding-right: 6rem;
}


/****** om slut ******/

/****** Instagram ******/

#instagram h1 {
    text-align: center;
}

#instagram a {
    align-items: center;
    text-decoration: none;
    color: #8b6b52;
}


#instagram .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#instagram .image {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 1rem 0.6rem;
    margin: 0.8rem;


    display: flex;
    /*
    flex-direction: column;
    justify-content: space-between;
*/

}

#instagram .image img {
    width: 100%;
}



/****** Instagram slut ******/

/***footer***/

#footer {
    padding: 4rem;
    background-color: #563D31;
}


#footer h1 {
    color: white;
    font-size: 2rem;
}



#footer .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#footer .aabningstider p {

    border-bottom-style: solid;
    border-bottom-width: thin;
    color: white;
    word-spacing: 15rem;
}

#footer .kontakt p {
    color: white;
}

#footer .kontakt a {
    color: #E0DDD7;
}

#footer .aabningstider .kontakt .some {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 1.6rem;
}

#footer .some {
    padding: 2rem;
}


.insta {
    background-image: url(billeder/ig_logo.svg);
    background-size: cover;
    margin: 1rem;
    height: 5.3vw;
    width: 5.2vw;
}

.face {
    background-image: url(billeder/fb_logo.svg);
    background-size: cover;
    margin-top: 5rem;
    margin-left: 1rem;
    height: 5.3vw;
    width: 5.2vw;
}

.andcopy {
    color: white;
    text-align: center;
    padding: 1rem;
}

/*****produkter****/

#produkter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

#produkter .col {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 1rem;
}



#produkter .bottom {
    border: 1px solid #E0DDD7;
    margin: 1px;
    background-color: #E0DDD7;
    text-align: center;
    padding: 10px;
    width: 300px
}

*/
/***Kontakt***/


#kontakt {
    padding: 4rem;
    margin: 4rem;
}

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 5rem;
    margin: 1rem;
    border-color: #563D31;
    border-style: solid;
}

#kontakt .aabningstider p {

    border-bottom-style: solid;
    border-bottom-width: thin;
    word-spacing: 15rem;
}

#kontakt .aabningstider .kontakt {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 1.6rem;
}


/******Behandlinger*****/


#behandlinger .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#behandlinger .col {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0 0.1rem;



}

#behandlinger h2,
a {
    text-decoration: none;
    color: black;
}



/******Behandlinger SLUT*****/


/******Ansigtsbehandlinger*****/




#ansigtsbehandling .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


#col_box {
    display: flex;
    flex-wrap: wrap;

}



.box {
    flex-grow: 1;
    flex-basis: 300px;
    border: 1px solid #E0DDD7;
    margin: 1.5px;
    background-color: #E0DDD7;
}

.box p {
    margin: 10px;
}

.box a {
    font-weight: bold;
    text-decoration: none;
}

/******Ansigtsbehandlinger SLUT*****/

/******Online booking*****/

#booking img {

    width: 30%;
}

/******Online booking SLUT*****/


/**** media INDSTILLINGER **/




@media only screen and (min-width:800px) {

    #menuknap {
        display: none;

    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
    }

    header a {

        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {

        padding: 0.1rem;
    }


    header nav a {
        padding: 0.3rem;
        background-color: transparent;
        margin: 0.8rem;
        text-decoration: none;
        color: black;
    }
}
